h1 {
    margin: 10px;
    padding: .3em .70em;
    background-color: #f6f6f6;
    font-size: 30px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .15);
}

body {
    width: 1400px;
    margin: 5px auto;
    font-family: arial;
    background-color: white;
    color: black;
}

div.main {
    margin:10px;
}

input.button_page {
    font-size: 20px;
    font-weight: bold;
    padding: 8px 20px;
    color: #ffffff;
    border-style: none;

    /* ボタンの影の指定
     * 影の横幅を2px
     * 縦長を2px
     * ぼかしを3px
     * 広がりを1px
     * 色を#666（グレー）に指定 */
    box-shadow: 2px 2px 3px 1px #606060;
    -moz-box-shadow: 2px 2px 3px 1px #606060;
    -webkit-box-shadow: 2px 2px 3px 1px #606060;

    /* テキストの影の指定
     * 影の横幅を1px
     * 縦長を1px
     * ぼかしを2px
     * 色を#000（黒）に指定 */
    text-shadow: 1px 1px 2px #000000;
    background: #3060d0; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#3060d0, #204080, #3060d0); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#3060d0, #204080, #3060d0); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#3060d0, #204080, #3060d0); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#3060d0, #204080, #3060d0); /* Standard syntax */
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
