td {
    vertical-align: top;
}

input.button_graph {
    font-size: 20px;
    font-weight: bold;
    padding: 8px 20px;
    color: #ffffff;
    border-style: none;

    /* ボタンの影の指定
     * 影の横幅を2px
     * 縦長を2px
     * ぼかしを3px
     * 広がりを1px
     * 色を#666（グレー）に指定 */
    box-shadow: 2px 2px 3px 1px #606060;
    -moz-box-shadow: 2px 2px 3px 1px #606060;
    -webkit-box-shadow: 2px 2px 3px 1px #606060;

    /* テキストの影の指定
     * 影の横幅を1px
     * 縦長を1px
     * ぼかしを2px
     * 色を#000（黒）に指定 */
    text-shadow: 1px 1px 2px #000000;
    background: #ff7f50; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#ff4500, #ff7f50, #ff4500); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#ff4500, #ff7f50, #ff4500); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#ff4500, #ff7f50, #ff4500); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#ff4500, #ff7f50, #ff4500); /* Standard syntax */
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

input.button_graph_on {
    font-size: 20px;
    font-weight: bold;
    padding: 8px 20px;
    color: #ffffff;
    border-style: none;

    /* ボタンの影の指定
     * 影の横幅を2px
     * 縦長を2px
     * ぼかしを3px
     * 広がりを1px
     * 色を#666（グレー）に指定 */

    /* テキストの影の指定
     * 影の横幅を1px
     * 縦長を1px
     * ぼかしを2px
     * 色を#000（黒）に指定 */
    text-shadow: 1px 1px 2px #000000;
    background: #ff7f50; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#ff4500, #ff7f50, #ff4500); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#ff4500, #ff7f50, #ff4500); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#ff4500, #ff7f50, #ff4500); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#ff4500, #ff7f50, #ff4500); /* Standard syntax */
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

input.button_graph_gray {
    font-size: 20px;
    font-weight: bold;
    padding: 8px 20px;
    color: #a9a9a9;
    border-style: none;

    /* ボタンの影の指定
     * 影の横幅を2px
     * 縦長を2px
     * ぼかしを3px
     * 広がりを1px
     * 色を#a9a9a9（グレー）に指定 */

    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

svg text {
    margin: 0;
    padding: 0;
    font-family: arial;
    font-size:18px;
    color: black;
}

rect {
    shape-rendering:crispEdges;
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: arial;
    font-size: 11px;
    color: white;
}

.line {
    fill: none;
    /* stroke-width: 3.0px; */
}

#controller {
    margin: 10px;
    width: 1000px;
    height: 100px;
}

.dialog {
    display: none;
}

.dialog_back {
    position: fixed;
    top:0px;
    left:0px;
    width:100%;
    min-height:100%;
    background-color: black;
    opacity: 0.5;
}

.dialog_body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -moz-transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
    -o-transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translateX(-50%);
    border-radius: 6px 6px 6px 6px;
    background-color: white;
    box-shadow: 6px 6px 6px rgba(0,0,0,0.4);  /* CSS3 */
    padding:20px;
}

table.dialog {
    margin: 10px;
}

button.dialog {
    width:auto;
    font-size: 14px;
    padding: 2px 4px 2px 4px;
    margin: 0px 4px 0px 4px;
}

ul.setting {
    margin-top: 0px;
    margin-bottom: 0px;
    -moz-padding-start: 0px;
    -webkit-margin-before:0em;
    -webkit-margin-after:0em;
    -webkit-padding-start: 0px;
}

ul.setting li {
    height: 28px;
    list-style: none;
}

input[type="text"] {
    border:solid 1px #ccc;
    font-size:18px;
    height: 22px;
    margin: 2px;
    text-align: right;
    width: 200px;
}

input[type="number"] {
    border:solid 1px #ccc;
    font-size:18px;
    height: 22px;
    margin: 2px;
    text-align: right;
    width: 100px;
}

input[type="radio"].settingRadio {
    margin-top: 8px;
    float: left;
}

input[type="checkbox"].settingCheckbox {
    margin-top: 8px;
    float: left;
}

input[type="color"].settingColor {
    border: 0px;
    height: 28px;
    padding: 0px;
    width: 122px;
}

input[type="button"].settingButton {
    font-size:16px;
    margin: 2px;
    width: 102px;
}

label.inputLabel {
    float: left;
    margin-top: 6px;
    width:140px;
}

label.loopInputLabel {
    float: left;
    margin-top: 6px;
    width:80px;
}

label.startInputLabel {
    float: left;
    margin-top: 6px;
    width:60px;
}

label.endStepInputLabel {
    width:60px;
    margin-top: 6px;
    margin-left: 100px;
    float: left;
}

:placeholder-shown {
    color: #ccc; 
}

::-webkit-input-placeholder {
  color: #ccc;
}

::-moz-placeholder {
  color: #ccc; opacity: 1;
}

:-moz-placeholder {
  color: #ccc; opacity: 1;
}

:-ms-input-placeholder {
  color: #ccc;
}

table.processSettingTable
{
    width:460px;
}

table.processSettingTable  tr th,
table.processSettingTable  tr td
{
    border: 1px solid #DDD;
    height:28px;
    text-align: center;
    vertical-align: middle;
    width:120px;
}
